<script>
    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        if (currentValue < 99 ) {
        $(closestInput).val(currentValue + 1);
        }
    });
    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        if (currentValue > 1) {
        $(closestInput).val(currentValue - 1);
        }
    });
</script>